In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('text_emotion.csv')
df.head()

,tweet_id,sentiment,author,content
0,1956967341,empty,xoshayzers,@tiffanylue i know i was listenin to bad habi...
1,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...
3,1956967789,enthusiasm,czareaquino,wants to hang out with friends SOON!
4,1956968416,neutral,xkilljoyx,@dannycastillo We want to trade with someone w...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 4 columns):
tweet_id     40000 non-null int64
sentiment    40000 non-null object
author       40000 non-null object
content      40000 non-null object
dtypes: int64(1), object(3)
memory usage: 1.2+ MB

In [4]:
df.sentiment.unique()

array(['empty', 'sadness', 'enthusiasm', 'neutral', 'worry', 'surprise',
       'love', 'fun', 'hate', 'happiness', 'boredom', 'relief', 'anger'],
      dtype=object)

In [5]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

df['encoded_sentiment'] = label_encoder.fit_transform(df['sentiment'])

In [6]:
df.head()

,tweet_id,sentiment,author,content,encoded_sentiment
0,1956967341,empty,xoshayzers,@tiffanylue i know i was listenin to bad habi...,2
1,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...,10
2,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...,10
3,1956967789,enthusiasm,czareaquino,wants to hang out with friends SOON!,3
4,1956968416,neutral,xkilljoyx,@dannycastillo We want to trade with someone w...,8

In [7]:
df[df['encoded_sentiment'] == 2]

,tweet_id,sentiment,author,content,encoded_sentiment
0,1956967341,empty,xoshayzers,@tiffanylue i know i was listenin to bad habi...,2
44,1956978276,empty,Aggie9,@creyes middle school and elem. High schools w...,2
52,1956979917,empty,Dreness023,@djmicdamn hey yu lil fucker i textd yu,2
141,1957000336,empty,Gen22,@softtouchme just answered you- never learned ...,2
180,1957007357,empty,_SNO_,Have a headache I'm going to bed. Goodnight!,2
...,...,...,...,...,...
39702,1753868848,empty,ImaPacifist,"Here we go again, back to work. Happy Mothers ...",2
39742,1753870123,empty,shannonfarrell,@PhilippaJane the &quot;no pants&quot; idea co...,2
39749,1753870555,empty,amy_wright,@sloanyxxx Thanks,2
39845,1753886183,empty,sophienetter,@xxxRobyn Yeah *fingers crossed*,2
39975,1753904682,empty,patphelan,@lexia Or even listen to Susan's green policies,2

In [8]:
label_encoder.inverse_transform([2,3,4])

array(['empty', 'enthusiasm', 'fun'], dtype=object)

In [9]:
df.head()

,tweet_id,sentiment,author,content,encoded_sentiment
0,1956967341,empty,xoshayzers,@tiffanylue i know i was listenin to bad habi...,2
1,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...,10
2,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...,10
3,1956967789,enthusiasm,czareaquino,wants to hang out with friends SOON!,3
4,1956968416,neutral,xkilljoyx,@dannycastillo We want to trade with someone w...,8

In [10]:
df.drop(['tweet_id','author','sentiment'], axis=1, inplace=True)
df.head(20)

                                              content  encoded_sentiment
0   @tiffanylue i know  i was listenin to bad habi...                  2
1   Layin n bed with a headache  ughhhh...waitin o...                 10
2                 Funeral ceremony...gloomy friday...                 10
3                wants to hang out with friends SOON!                  3
4   @dannycastillo We want to trade with someone w...                  8
5   Re-pinging @ghostridah14: why didn't you go to...                 12
6   I should be sleep, but im not! thinking about ...                 10
7                Hmmm. http://www.djhero.com/ is down                 12
8             @charviray Charlene my love. I miss you                 10
9          @kelcouch I'm sorry  at least it's Friday?                 10
10                                   cant fall asleep                  8
11                            Choked on her retainers                 12
12  Ugh! I have to beat this stupid song to get to...                 10
13  @BrodyJenner if u watch the hills in london u ...                 10
14                                       Got the news                 11
15      The storm is here and the electricity is gone                 10
16                               @annarosekerr agreed                  7
17  So sleepy again and it's not even that late. I...                 10
18  @PerezHilton lady gaga tweeted about not being...                 12
19  How are YOU convinced that I have always wante...                 10

In [11]:
X = df.content
y = df.encoded_sentiment

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()

X_train_count = cv.fit_transform(X_train.values)

In [34]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()

model.fit(X_train_count, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [35]:
t = ['I love you but I also hate you.']

t_count = cv.transform(t)

predicted = model.predict(t_count)

In [36]:
pv = predicted.tolist
label_encoder.inverse_transform(predicted)

array(['love'], dtype=object)

In [37]:
# Testing the model score
X_test_count = cv.transform(X_test)
model.score(X_test_count, y_test)

0.3045833333333333

In [43]:
model.predict(X_test_count)[0:10]

array([ 8, 12,  8, 12, 12,  5, 10, 12, 12, 12])

In [44]:
y_test[0:10]

25765     8
24018     4
1615     12
5792     12
7609     12
14829    10
3023      2
3429      6
6091      9
20539     5
Name: encoded_sentiment, dtype: int64

AxisError: axis 1 is out of bounds for array of dimension 1